/*
    Author  : Berrier Arnaud
    Date    : 24/09/2022
    Version : V.1.0
*/

/*---------------------------------------------------------------------*/
/* GLOBAL */
/*---------------------------------------------------------------------*/

/* typo */
/*--------------------*/

/* others */
/*--------------------*/

/* links */
/*--------------------*/
a:hover{
  font-weight: bold;
  color: rgb(217, 217, 217);
}

/* forms */
/*--------------------*/

/* table */
/*--------------------*/

/* buttons */
/*--------------------*/

/* helpers */
/*--------------------*/
@media screen and (max-width: 768px) {
  .localisation{
    display: block;
  }
  
}
/*---------------------------------------------------------------------*/
/* LAYOUT */
/*---------------------------------------------------------------------*/
.bg-contact{
  position: relative;
  background: url("/img-danse/cours-danse-pour-femmes-noir-blanc_1385-229.webp") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}
/* header */
/*--------------------*/

/* nav */
/*--------------------*/

/* main */
/*--------------------*/

.article-1{
padding: 20px;
margin-top: 20px;
}
.localisation{
  margin: 3em 0 3em 0;

}
.card-x3{
  margin-top: 2em;
}
.contact{
background-color: rgba(248, 249, 250, 0.5);
border-radius: 20px;

}
/* aside */
/*--------------------*/

/* footer */
/*--------------------*/
footer { 
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}
