/*
    Author  : Berrier Arnaud
    Date    : 24/09/2022
    Version : V.1.0
*/

/*---------------------------------------------------------------------*/
/* GLOBAL */
/*---------------------------------------------------------------------*/

/* typo */
/*--------------------*/

/* others */
/*--------------------*/

/* links */
/*--------------------*/
a:hover{
  font-weight: bold;
  color: rgb(217, 217, 217);
}

/* forms */
/*--------------------*/

/* table */
/*--------------------*/

/* buttons */
/*--------------------*/

/* helpers */
/*--------------------*/
@media screen and (max-width: 768px) {
  .localisation{
    display: block;
  }
  
}
/*---------------------------------------------------------------------*/
/* LAYOUT */
/*---------------------------------------------------------------------*/

/* header */
/*--------------------*/

/* nav */
/*--------------------*/

/* main */
/*--------------------*/

.article-1{
padding: 20px;
margin-top: 20px;
}
.localisation{
  margin: 3em 0 3em 0;

}
.card-x3{
  margin-top: 2em;
}
/* aside */
/*--------------------*/

/* footer */
/*--------------------*/
footer { 
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}
